.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #333;
}

.current-time {
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  /* Menyusun elemen secara vertikal */
  align-items: center;
  /* Pusatkan elemen secara horizontal */
}

form h2 {
  margin: 0 0 15px;
  width: 100%;
  /* Lebarkan elemen h2 agar sesuai dengan form */
  text-align: center;
  /* Pusatkan teks h2 secara horizontal */
}

input[type="text"],
select {
  width: 100%;
  /* Lebarkan input dan select agar sesuai dengan form */
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.attendance-list {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.selected {
  background-color: #ffa500 !important;
  color: #fff !important;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: small;
  background-color: silver;
}